@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.artist-card play-button, .album-card play-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #1db954;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, tranform 0.3s ease;
}

.artist-card play-button i , .album-card play-button i {
    color: #000;
    font-size: 16px;
}

/* Animação de entrada e saída do botão */
.artist-card:hover .play-button,
.album-card:hover .play-button {
    opacity: 1;
    transform: translateY(0);
}

/* Efeito de clique no card */
.artist-card:active .play-button,
.album-card:active .play-button {
    transform: scale(0.9);
}

.nav-logo i{
    font-size: 24px;
}

.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.nav-library i, .nav-library p { 
    font-size: 14px;
    color: #B7B3B6;
    cursor: pointer;
}

.nav-playlist, .nav-podcast {
    background-color: #242424;
    padding: 16px;
    border-radius: 8px;
}

.nav-playlist button, .nav-podcast button{
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
}

.nav-playlist p,.nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;
    margin-bottom: 5px;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 5px;
    outline: none;
}

.artists-grid,.albums-grid {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 24px;
    margin-bottom: 40px;
    justify-content: start;
}

.artist-card,.album-card {
    width: 150px;
    background-color: #181818;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.artist-card:hover,.album-card:hover {
    background-color: #282828;
}

.artist-card img,.album-card img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.artist-card h3,.album-card h3{
    font-size: 12px;
}

.artist-card p,.album-card p{
    font-size: 10px;
    color: #B7B3B6;
}

.content {
    margin-top: 40px;
}

.content h2 {
    margin-bottom: 10px;
}

.banner {
    background: linear-gradient(90deg, #AF2896, #509BF5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
    margin-top: auto;
}

.banner h2 {
    font-size: 14px;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
}